################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/.vscode
/Functions/Functions.Sample/.vs/Functions.Sample
